body {
    background-color: #d6f5f5;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
    
}

.container {
    margin: auto;
    position: absolute;
    left: 25%;
    right: 25%;
}

h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 44px;
    position: relative;
    margin: auto;
    margin-top: 2.5%;
}

.image-1 {
    max-width: 20%;
    height: auto;
    margin-top: 0;
    padding-top: 0;
    transform: scaleX(-1);
    position: fixed;
    top: 0;
    left: 5%;    
}

.image-2 {
    max-width: 20%;
    height: auto;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    right: 5%;    
}

.gift-list {
    display: block;
    position: relative;
}

.gift-sheet {
    margin: auto;
    width: 50%;
    height: auto;
    text-align: left;
    border-style: groove;
    border-color: tomato;
    border-width: 1em;
    padding: 2%;
    padding-right: 0.5%;
    padding-left: 4%;
    left: 5%;
    right: 5%;
    display: block;
    overflow: auto;
}

img {
    opacity: 90%;
}

.afford-check {
    border-style: dotted;
    border-color: #cc0000;
    margin: auto;
    margin-bottom: 5%;
    width: 30%;
}

.inline {
    display: inline-block;
}